.git
.gitignore
.env*
*.log
.DS_Store
.cache
.env
.env.*
.git
.turbo
turbo
*.tsbuildinfo
infra/

# always COPY these into the container:
!package.json
!pnpm-lock.yaml
!workspaces.json
!pnpm-workspace.yaml
!turbo.json

# ignore noise